server:
  port: 8080
spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://123.56.91.230:3306/gulimall_pms

  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

  application:
    name: gulimall-order

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto



